
.fd-card{
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;

}
.fd-form-item{
  padding: 10px;
}

.fd-input:last-child {
  width: 75%;
  margin-left: 12.5%;

}
.fd-form-label__wrapper--inline-help--after, .fd-form-label__wrapper--inline-help[dir=rtl], [dir=rtl] .fd-form-label__wrapper--inline-help {
  padding-left: 12.5%;
  padding-right: 1.25rem;
}
